<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>
                    %highlight{[%5p] %m%n}{FATAL=red, ERROR=red, WARN=yellow, INFO=white, DEBUG=bright_black, TRACE=bright_black}
                </Pattern>
            </PatternLayout>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
         </Root>
           <!-- <Logger name="com.vanillasource.eliot.eliotc.compiler.FactGenerator" level="debug"/> -->
           <!-- <Logger name="com.vanillasource.eliot.eliotc.jvm.classgen.processor.JvmClassGenerator" level="debug"/> -->
           <!-- <Logger name="com.vanillasource.eliot.eliotc.symbolic" level="debug"/> -->
            <Logger name="com.vanillasource.eliot.eliotc.monomorphize" level="debug"/>
            <Logger name="com.vanillasource.eliot.eliotc.eval" level="debug"/>
           <!-- <Logger name="com.vanillasource.eliot.eliotc.resolve" level="debug"/> -->
           <!-- <Logger name="com.vanillasource.eliot.eliotc.uncurry" level="debug"/> -->
           <!-- <Logger name="com.vanillasource.eliot.eliotc.core" level="debug"/> -->
           <!-- <Logger name="com.vanillasource.eliot.eliotc.source.scan" level="debug"/> -->
    </Loggers>
</Configuration>

